/* My CSS */
.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#project{
    background-color: #e2edff;
}
#contact{
    background-color: white;
}
img {
    width: 150px;
    height: 500px;
}

section{
    padding-top: 4rem;
}